*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
*.jks
lifeplanner.jks
.fleet/
firebase-debug.log
*.log
.mcp.json
supabase/.temp/
.env*
app/androidApp/google-services.json
iosApp/iosApp/GoogleService-Info.plist
.vercel
.claude/*
!.claude/skills/
.postman/
*.aab
*.ipa
*.xcarchive
**/.DS_Store
